New Unity Project/Library/
New Unity Project/ProjectSettings/
New Unity Project/Temp/

.DS_Store

New Unity Project/Assembly-CSharp.csproj

New Unity Project/New Unity Project.sln

New Unity Project/UnityPackageManager/manifest.json
