.DS_Store
New Unity Project/Assets/HTC.UnityPlugin/
New Unity Project/Assets/SteamVR/
New Unity Project/Library/
New Unity Project/ProjectSettings/
New Unity Project/Temp/
New Unity Project/obj/
*.csproj

*.sln

New Unity Project/New Unity Project.userprefs

New Unity Project/obj/Debug/Assembly-CSharp.csproj.FilesWrittenAbsolute.txt
