.DS_Store
DigiClay Unity Project/.vs/
DigiClay Unity Project/Library/
DigiClay Unity Project/ProjectSettings/
DigiClay Unity Project/Temp/
DigiClay Unity Project/UnityPackageManager/
DigiClay Unity Project/Packages/
DigiClay Unity Project/obj/
*.csproj
*.sln
*.unityproj
*.userprefs
*.sublime-workspace
